In [1]:
import pandas as pd

In [2]:
data = {'Math': [11, 12, 11, 7, 9.5, 15, 18], 'Science': [9, 11, 18, 15.5, 12, 18.5, 15.5], 'Reading': [16, 8.5, 11.5, 11, 10.5, 7, 11],
       'History': [13.5, 10, 9, 14, 14, 12, 7.5]}
df = pd.DataFrame(data)
df

   Math  Science  Reading  History
0  11.0      9.0     16.0     13.5
1  12.0     11.0      8.5     10.0
2  11.0     18.0     11.5      9.0
3   7.0     15.5     11.0     14.0
4   9.5     12.0     10.5     14.0
5  15.0     18.5      7.0     12.0
6  18.0     15.5     11.0      7.5

In [3]:
math_mean = df['Math'].mean()
sci_mean = df['Science'].mean()
read_mean = df['Reading'].mean()
hist_mean = df['History'].mean()

print(f'Math Mean: {math_mean}')
print(f'Science Mean: {sci_mean}')
print(f'Reading Mean: {read_mean}')
print(f'History Mean: {hist_mean}')

Math Mean: 11.928571428571429
Science Mean: 14.214285714285714
Reading Mean: 10.785714285714286
History Mean: 11.428571428571429

In [4]:
math_median = df['Math'].median()
print(f'Math Median Score: {math_median}')

Math Median Score: 11.0

In [5]:
hist_mode = df['History'].mode()
print(f'History Mode: {hist_mode}')

History Mode: 0    14.0
Name: History, dtype: float64

In [6]:
df.corr()

             Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000

### Science and Math have the strongest correlation

In [7]:
import numpy as np

In [8]:
arr = np.array([24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 
                33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60])

In [9]:
import statistics

In [10]:
def desc_stats(nums):
    print(f'Mean: {nums.mean()}')
    print(f'Median: {np.median(nums)}')
    print(f'Mode: {statistics.mode(nums)}')
    print(f'Minimum: {nums.min()}')
    print(f'Maximum: {nums.max()}')
    print(f'Range: {np.ptp(nums)}')
    print(f'Variance: {np.var(nums)}')
    print(f'Standard Deviation: {np.std(nums)}')
    
    

desc_stats(arr)

Mean: 59.47826086956522
Median: 60.0
Mode: 60
Minimum: 5
Maximum: 99
Range: 94
Variance: 664.1625708884687
Standard Deviation: 25.771351747404882

## Should there be a curve?

### Yes, there should be based on the data above. The range of the data set is 94, which means there are students who did well, but extremely poorly. This range results in a larger variance value giving us a wider variation curve, where in this case we would prefer to have a smaller variance. WIth a large variance like we have here, the standard deviation is over 25, meaning scores are larger in difference.

### Also, with the variance and standard deviation being large numbers, the mean score for the class is failing, we would want that to be at least a C average. The mode is also telling me that the most common score is a 60%, a low D grade.